body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color:rgb(11, 137, 220);
  padding: 15px 50px;
  color: white;
  margin-bottom: 50px;
}


.logo {
  font-size: 35px;
  font-weight: bold;
}
.tagline {
  font-style: italic;
  font-size: 20px;   
  color: #ffffff;      
  font-weight: 500;
  white-space: nowrap;
}


.navbar {
  display: flex; 
  gap: 25px; 
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color:rgb(215, 129, 223) ;
}
